body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url("https://i.giphy.com/media/3o85xJY1FaLzqeoBGw/giphy.webp");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

.szkieletor {
    height: 100vh;
    width: 100%;
    margin: 0;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

header {
    display: flex;
    margin-left: auto;
}

.kotek {
    position: absolute;
    width: min(70%, 500px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

.header-img {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    min-width: 30%;
    max-width: 100%;
}

.chuj {
    position: fixed;
    bottom: -30px;
    right: 0;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/b7/21/34/b72134112b54864e4948865375ecbb11.gif");
    background-repeat: repeat-x;
    min-height: 272px;
}

.schizo {
    position: absolute;
    color:rgb(255, 255, 255);
    font-weight: 900;
    z-index: -1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}